<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="org.duzgun.eksiengelplus.feature.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"/>
        <activity
            android:name="org.duzgun.eksiengelplus.feature.settings.HelpActivity"
            android:exported="false"
            android:label="@string/help_title"/>
        <activity
            android:name="org.duzgun.eksiengelplus.feature.settings.ReleaseNotesActivity"
            android:exported="false"
            android:label="@string/notes_title"/>
    </application>
</manifest>
